.header {
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header__title {
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 3.125rem;
}

.header__logo {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.header__logo::before {
    content: "";
    position: absolute;
    background-color: #ffaf00;
    width: 50px;
    height: 10px;
    top: 10px;
    z-index: 0;
}

.header__logo::after {
    content: "";
    position: absolute;
    background-color: #ffaf00;
    width: 50px;
    height: 10px;
    bottom: 10px;
    z-index: 0;
}